:root{
    --colour-1: #9146ff;
    --colour-2: #FE7DB7;
    --border-width:20px;
    --body-padding:3rem;
  }
  @font-face {
    font-family: 'IBM Plex Sans';
    font-display: swap;
    src: url(../../../static/fonts/IBMPlexSans-Regular.ttf);
  }
  @font-face {
    font-family: 'Work Sans';
    font-display: swap;
    src: url(../../../static/fonts/WorkSans-Regular.ttf);
  }
  body{
    background-color: black;
    color: white;
    min-height: calc(100vh - (var(--body-padding) * 2) - (var(--border-width) * 2));
    margin: var(--border-width);
    padding: var(--body-padding);
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  body:before{
    content: '';
    position: fixed;
    border: var(--border-width) solid;
    border-image-source: linear-gradient(45deg, var(--colour-1), var(--colour-2));
    border-image-slice: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
    z-index: 1;
    pointer-events: none
  }
  h1,h2,h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
  }
  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 2rem;
    opacity: 0.7;
  }
  a,
  a:visited{
    color: var(--colour-1);
    text-decoration: none;
  }
  a:hover,
  a:focus{
    color: var(--colour-2);
  }

  p{
    max-width: 600px;
    line-height: 1.8rem;
  }
  
   li{
    list-style: none;
  }
   li:before{
    content:'- '
  }

  @media only screen and (max-width: 700px) {
    :root{
      --body-padding:2rem;
    }
  }